/* *** xs *** */
// phone
@media only screen and (max-width: 767px){
  body{
    font-size: 1.8rem;
  }
  
  .top{
    height: 18.5%;
    
    .logo{
      top: 2.5% !important;
      margin-bottom: 0.5rem;
    }

    nav.main{
      margin-bottom: 0.5rem;
      padding: 1rem 0;

      ul{

        li{

          a{
            padding: 1rem 0;
          }
        }
      }
    }
    
    .extra{
      
      input[type="text"]{
        width: 20%;
      }
    }
    
    .logo, nav.main, .extra{
      width: 100%;
      text-align: center;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
    }
  }
  
  .main-content{
    height: 55vh;
  }
  
  .content-list{
    margin-bottom: 0.5rem;
  }
  
  .content-list, .sub-content-top, .sub-content-middle, .sub-content-bottom{
    height: 30vh;
  }

  .right{
    margin-bottom: 1rem;
  }
  
  .left, .right{
    width: 99%;
    height: auto;
    top: auto;
    right: 0.5rem;
    bottom: auto;
    left: 0.5rem;
  }
  
  .top, .left, .right{
    position: relative;
  }
  
  .content, .image-expanded, .video-expanded{
    position: fixed;
    height: auto;
    
    .close{
      font-size: 1.8rem;
      padding: 0.75rem 1.25rem;
    }
  }

  .content{
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }

  .content[data-href="portfolio.html"] li img.thumbnail{
    height: 9rem;
  }

  .image-expanded{
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
  }
  
  .video-expanded{
    top: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }

  .overlay{

    h2{
      top: 7.5%;
    }

    h3{
      top: 50%;
    }
  }
}

/* *** sm *** */
// tablet
@media only screen and (min-width: 768px) and (max-width: 991px){
  body{
    font-size: 1.8rem;
  }
  
  .top{
    height: 18.5%;
    
    .logo{
      top: 2.5% !important;
      margin-bottom: 0.5rem;
    }

    nav.main{
      margin-bottom: 0.5rem;
      padding: 1rem 0;

      ul{

        li{

          a{
            padding: 1rem 0;
          }
        }
      }
    }
    
    .extra{
      
      input[type="text"]{
        width: 20%;
      }
    }
    
    .logo, nav.main, .extra{
      width: 100%;
      text-align: center;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
    }
  }
  
  .main-content{
    height: 55vh;
  }
  
  .content-list{
    margin-bottom: 0.5rem;
  }
  
  .content-list, .sub-content-top, .sub-content-middle, .sub-content-bottom{
    height: 30vh;
  }

  .right{
    margin-bottom: 1rem;
  }
  
  .left, .right{
    width: 99%;
    height: auto;
    top: auto;
    right: 0.5rem;
    bottom: auto;
    left: 0.5rem;
  }
  
  .top, .left, .right{
    position: relative;
  }
  
  .content, .image-expanded, .video-expanded{
    position: fixed;
    height: auto;
    
    .close{
      font-size: 1.8rem;
      padding: 0.75rem 1.25rem;
    }
  }

  .content{
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }

  .content[data-href="portfolio.html"] li img.thumbnail{
    height: 9rem;
  }

  .image-expanded{
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
  }
  
  .video-expanded{
    top: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }

  .overlay{

    h2{
      top: 7.5%;
    }

    h3{
      top: 50%;
    }
  }
}

/* *** md *** */
// desktop
@media only screen and (min-width: 992px) and (max-width: 1199px){
  .left{
    width: calc(65% - 0.5rem);
  }
}

/* *** lg *** */
// desktop
@media only screen and (min-width: 1200px) and (max-width: 1700px){
  .left{
    width: calc(65% - 0.5rem);
  }
}

//desktop
@media only screen and (min-width: 1701px){

}