$main-content-img: #000 url(../img/car.jpg) no-repeat center center;
$sub-content-top-img: #000 url(../img/bridge.jpg) no-repeat center center;
$sub-content-middle-img: #000 url(../img/road2.jpg) no-repeat center top;
$sub-content-bottom-img: #000 url(../img/road3.jpg) repeat center center;
$content-list-one-img: #000 url(../img/bridge2.jpg) no-repeat bottom center;
$content-list-two-img: #000 url(../img/path.jpg) no-repeat bottom center;
$content-list-three-img: #000 url(../img/bridge2.jpg) no-repeat bottom center;
$content-list-four-img: #000 url(../img/path.jpg) no-repeat bottom center;
$content-list-five-img: #000 url(../img/bridge2.jpg) no-repeat bottom center;
$content-list-six-img: #000 url(../img/path.jpg) no-repeat bottom center;
$content-list-seven-img: #000 url(../img/bridge2.jpg) no-repeat bottom center;
$content-list-eight-img: #000 url(../img/path.jpg) no-repeat bottom center;
$content-list-nine-img: #000 url(../img/bridge2.jpg) no-repeat bottom center;
$content-list-ten-img: #000 url(../img/path.jpg) no-repeat bottom center;

$base-color: #EEE;

$logo-font: "Junge", cursive;
$title-font: "Alegreya", serif;
$body-font: "Ubuntu", Arial, Helvetica, sans-serif;

@import url(http://fonts.googleapis.com/css?family=Junge);
@import url(http://fonts.googleapis.com/css?family=Alegreya);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: $body-font;
  font-size: 1.8rem;
  padding: 0 1rem 2rem 1rem;
  background-color: $base-color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h2, h3, h4, h5, h6{
  font-family: $title-font;
}

p{
  margin: 0.5rem 0;
}

.top{
  height: 8%;
  top: 0;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

.left{
  width: calc(66% - 0.5rem);
  margin-right: 0.5rem;
}

.right{
  width: 33%;
}

.top, .left{
  left: 1rem;
}

.top, .right{
  right: 1rem;
}

.left, .right{
  height: 88%;
  float: left;
  bottom: 2rem;
}

.top, .left, .right{
  position: absolute;
  
  & > *{
    position: relative;
  }
}

.logo{
  top: 22.5%;
  
  h1{
    color: lighten($base-color, 100%);
    font-family: $logo-font;
    text-shadow: 0.1rem 0.1rem darken($base-color, 100%);
    
    span{
      color: darken($base-color, 60%);
    }
  }
}

nav.main{
  width: 75%;
  top: 45%;
  
  ul{
    
    li{
      display: inline-block;
      margin-right: 1rem;
      
      a{
        text-decoration: none;
        color: darken($base-color, 100%);
        
        &:hover, &:active, &:focus{
          border-bottom: 0.1rem dotted darken($base-color, 100%);
        }
      }
      
      &:before{
        content: "\2666"; // \25C6
        color: darken($base-color, 55%);
        margin-right: 0.5rem;
      }
      
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.extra{
  top: 45%;
  
  form{
    
    input[type="text"]{
      padding: 0.5rem 1rem;
      background-color: darken($base-color, 33%);
      width: 75%;
      
      &:active, &:focus{
        border: 0.1rem solid darken($base-color, 66%);
        
        & + input[type="submit"]{
          border: 0.1rem solid darken($base-color, 66%);
        }
      }
    }
    
    input[type="submit"]{
      position: relative;
      left: -0.5rem;
      padding: 0.2rem 0.3rem 0.3rem;
      background-color: darken($base-color, 40%);
      border-radius: 0 0.5rem 0.5rem 0;
    }
    
    input[type="text"], input[type="submit"]{
      color: $base-color;
      border: 0.1rem solid darken($base-color, 50%);
    }
  }
}

.logo, .extra{
  width: 12.5%;
}

.logo, nav.main, .extra{
  float: left;
}

.main-content{
  height: calc(66% - 0.5rem);
  background: $main-content-img;
  
  .overlay{
    height: 20.0%;
  }
}

.content-list{
  
  ul{
    
    li{
      position: absolute;
      width: 10%;
      height: 100%;
      display: inline-block;
      z-index: 2;
      transition: width 1.5s, right 1.5s, left 1.5s;
      
      &:first-child:hover{
        width: 95%;
        left: 0 !important;
      }
      
      &:last-child:hover{
        width: 95%;
        right: 0 !important;
      }
      
      &:hover{
        width: 90%;
        right: 5% !important;
        left: 5% !important;
        z-index: 3;
      }
      
      @for $i from 1 through 10{
        &:nth-child(#{$i}){
          left: calc(10% * (#{$i} - 1));
        }
      }
      
      &:nth-child(1){
        background: $content-list-one-img;
      }
      
      &:nth-child(2){
        background: $content-list-two-img;
      }
      
      &:nth-child(3){
        background: $content-list-three-img;
      }
      
      &:nth-child(4){
        background: $content-list-four-img;
      }
      
      &:nth-child(5){
        background: $content-list-five-img;
      }
      
      &:nth-child(6){
        background: $content-list-six-img;
      }
      
      &:nth-child(7){
        background: $content-list-seven-img;
      }
      
      &:nth-child(8){
        background: $content-list-eight-img;
      }
      
      &:nth-child(9){
        background: $content-list-nine-img;
      }
      
      &:nth-child(10){
        background: $content-list-ten-img;
      }
    }
  }
}

.sub-content-top{
  background: $sub-content-top-img;
}

.sub-content-middle{
  background: $sub-content-middle-img;
}

.sub-content-bottom{
  background: $sub-content-bottom-img;
  
  & > a{
    color: lighten($base-color, 100%);
    text-shadow: 0.2rem 0.2rem darken($base-color, 100%);
    
    h2{
      width: 7rem;
      height: 3rem;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.main-content, .sub-content-top, .sub-content-middle{
  margin-bottom: 0.5rem;
}

.content-list, .sub-content-top, .sub-content-middle{
  
  .overlay{
    height: 25%;
  }
}

.sub-content-top, .sub-content-middle{
  height: calc(33% - 0.6rem);
}

.content-list, .sub-content-bottom{
  height: 33%;
}

.main-content, .content-list, .sub-content-top, .sub-content-middle, .sub-content-bottom{
  border: 0.1rem solid darken($base-color, 100%);
}

.main-content, .content-list ul li, .sub-content-top, .sub-content-middle, .sub-content-bottom{
  
  & > a{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.content{
  position: absolute;
  z-index: 4;
  height: calc(88% - 4.6rem);
  right: 1rem;
  bottom: 2.4rem;
  left: 1rem;
  border: 0.1rem solid darken($base-color, 100%);
  padding: 2rem;
  background-color: darken($base-color, 5%);
  color: #000;
  
  .close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: darken($base-color, 10%);
    border: 0.1rem solid darken($base-color, 100%);
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: darken($base-color, 100%);
    font-weight: bold;
  }
  
  &[data-href="portfolio.html"]{
    
    li{
      display: inline-block;
      list-style-type: none;
      margin-right: 1rem !important;
      
      img.thumbnail{
        max-width: 25rem;
        height: 12.5rem;
        border: 0.1rem solid darken($base-color, 100%);
        padding: 0.5rem;
      }
    }
  }
}

.image-expanded, .video-expanded{
  position: absolute;
  z-index: 5;
  height: calc(88% - 8.7rem);
  right: 3.1rem;
  bottom: 4.5rem;
  left: 3.1rem;
  padding: 2rem;
  border: 0.1rem solid #000;
  background-color: $base-color;
  text-align: center;
  
  img{
    max-height: 100%;
    max-width: 100%;
  }
  
  .close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: darken($base-color, 5%);
    border: 0.1rem solid darken($base-color, 100%);
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: darken($base-color, 100%);
    font-weight: bold;
  }
}

.overlay{
  background-color: darken($base-color, 100%);
  opacity: 0.7;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  
  h2{
    top: 25%;
  }
  
  h3{
    top: 60%;
  }
  
  h2, h3{
    position: absolute;
    left: 1.5%;
    color: lighten($base-color, 100%);
  }
  
  &:hover{
    opacity: 0.8;
  }
}

.clear{
  clear: both;
}

.inv{
  display: none;
}