<div class="content" data-href="portfolio.html">
  <section>
    <h2>Portfolio</h2>
    <section>
      <h3>Graphic Design</h3>
      <ul>
        <li><a href="../assets/img/marquel.jpg"><img src="../assets/img/marquel.jpg" alt="" class="thumbnail"/></a></li>
        <li><a href="../assets/img/poster.jpg"><img src="../assets/img/poster.jpg" alt="" class="thumbnail"/></a></li>
        <li><a href="../assets/img/dinner.jpg"><img src="../assets/img/dinner.jpg" alt="" class="thumbnail"/></a></li>
        <li><a href="../assets/img/beforeafter.jpg"><img src="../assets/img/beforeafter.jpg" alt="" class="thumbnail"/></a></li>
        <li><a href="../assets/img/logos.jpg"><img src="../assets/img/logos.jpg" alt="" class="thumbnail"/></a></li>
        <li><a href="../assets/img/starbucks.jpg"><img src="../assets/img/starbucks.jpg" alt="" class="thumbnail"/></a></li>
        <li><a href="../assets/img/wine.jpg"><img src="../assets/img/wine.jpg" alt="" class="thumbnail"/></a></li>
      </ul>
    </section>
    <section>
      <h3>Photography</h3>
      <ul>
        <li><a href="../assets/img/bass.jpg"><img src="../assets/img/bass.jpg" alt="" class="thumbnail"/></a></li>
        <li><a href="../assets/img/building.jpg"><img src="../assets/img/building.jpg" alt="" class="thumbnail"/></a></li>
        <li><a href="../assets/img/coffee.jpg"><img src="../assets/img/coffee.jpg" alt="" class="thumbnail" /></a></li>
        <li><a href="../assets/img/flowers.jpg"><img src="../assets/img/flowers.jpg" alt="" class="thumbnail" /></a></li>
        <li><a href="../assets/img/planet.jpg"><img src="../assets/img/planet.jpg" alt="" class="thumbnail" /></a></li>
      </ul>
    </section>
    <section>
      <h3>Video</h3>
      <ul>
        <li><a href="../assets/img/victhmb.jpg" data-video="//player.vimeo.com/video/117548813?color=999&amp;byline=0&amp;portrait=0"><img src="../assets/img/victhmb.jpg" alt="" class="thumbnail" /></a></li>
        <li><a href="../assets/img/dinnerthmb2.jpg" data-video="//player.vimeo.com/video/117548555?color=999&amp;byline=0&amp;portrait=0"><img src="../assets/img/dinnerthmb2.jpg" alt="" class="thumbnail" /></a></li>
        <li><a href="../assets/img/dinnerthmb.jpg" data-video=""><img src="../assets/img/dinnerthmb.jpg" alt="" class="thumbnail" /></a></li>
      </ul>
    </section>
  </section>
</div>